h1{
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color: #444;
    position: fixed;
    top: 0.1%;
    left: 68%;
    font-size: 2.5em;
    text-align: center;
    z-index: 99;
}

/* Section 1 */
#section1 .usl{
    color: #d0b084;
    font-size: 22px;
    position: absolute;
    top: 65%;
    left: 1%;
}
#section1 .usl #street{
    transition: 500ms;
}
#section1 .usl #holiday{
    transition: 500ms;
}
#section1 .usl .activeLabel{
    color: black;
    transition: 500ms;
}
#section1 .img {
    background: url('../img/onholiday.jpg');
    width: 626px;
    height: 416px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border: 2px solid #444;
    transition:all 1s linear;
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 5;
}
#section1 .activeImg {
    background-size: 100%;
    background: url('../img/onstreet.jpg');
    transform: translate(100%,60%);
    background-repeat: no-repeat;
}

/* Section 2 */

#section2 h1,
#section2 p{
    z-index: 3;
}

#section2 p{
    position: relative;
}

/* Section 3 */

#section3{
    background: url(https://images.pexels.com/photos/1054222/pexels-photo-1054222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
#section3 .block{
    background-color: rgba(165, 173, 183, 0.2);
    width: auto;
    height: 550px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    text-align: left;
}
#section3 .header h2{
    text-align: left;
    color: rgb(0, 0, 0);
    position: fixed;
    z-index: 99;
}
#section3 #photosessionsInfo{
    top: 16%;
    left: 22%;
    font-size: 30px;

}
#section3 #holidaysInfo{
    font-size: 30px;
    top: 16%;
    left: 54%;
    
}
#section3 .photosessions{
    width: 650px;
    height: 410px;
    position: absolute;
    top: 20%;
    left:8%;
}
#section3 .photosessions p{
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-left: 20px; /* красная строка */
}
#section3 .photosessionsOnStreet{
    height: 170px;
}
#section3 .photosessionsInStudio{
    width: 700px;
    height: 250px;
    margin-top: 0px;
    padding-top: 0px;
}
#section3 .photosessionsInStudio p{
    padding-top: 0px;
    width: 700px;
}
#section3 .photomasterOnHoliday{
    position: absolute;
    top: 20%;
    left: 53%;

}
#section3 .photomasterOnHoliday p{
    font-size: 20px;
    color: black;
    margin-left: 20px;
    width: 500px;
    font-weight: bold;

}

/* Section 4 */

#section4{
    background: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
    background-size: 100%;
}
#section4 .block{
    background-color: rgba(212, 118, 118, 0.6);
    width: auto;
    height: 550px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid rgba(226, 85, 85, 0.2);
}

/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
#pp-nav.custom .pp-tooltip{
    color: rgb(0, 0, 0);
}
#markup{
    display: block;
    width: 450px;
    margin: 20px auto;
    text-align: left;
}

/* Stilies of the connect buttons */

#inst{
    min-width: 40px;
    background: url(../img/inst.png) no-repeat;
    position: fixed;
    top: 92%;
    bottom: 8%;
    left: 96%;
    right: 4%;
    width: 50px;
    height: 50px;
    z-index: 4;
    outline: none;
    transition: 500ms;
    border: 0px solid black;
}

#inst:hover{
    cursor: pointer;
    background: url(../img/instBlack.png) no-repeat;
    transition: 500ms;
}